.git
.gitignore
**/.vscode

.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.tox/
.mypy_cache/
.pytest_cache/
.ruff_cache/

Dockerfile*
docker-compose*
.env*
*.md

nginx/
docs/
scripts/
tests/
